{{ define "main" }}
<h1><a href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a></h1>

Finding quality in video game history

<h2><a href="{{ with $.Site.GetPage "/series" }}{{ .RelPermalink }}{{ end }}">Series</a></h2>
{{range $name, $taxonomy := .Site.Taxonomies.series}} {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/series/%s" $name) }}
    <a href={{ .RelPermalink }} title="All pages with series {{$name}}">{{ .Title }}</a>
    <sup>{{ $cnt }}</sup> /
  {{end}}
{{end}}

<h2>Quality by <a href="{{ with $.Site.GetPage "/platform" }}{{ .RelPermalink }}{{ end }}">Platform</a></h2>
<table>
{{ $games := where .Site.RegularPages "Section" "g" }}
{{ $found := slice }}
{{ range $games }}
  {{ $platform := index .Params.platforms 0 }}
  {{ $bucket := math.Floor (div .Params.score 10) }}
  {{ $year := (time .Params.releaseDate).Format "2006" }}
  {{ $gameData := dict "platform" $platform "title" .Title "score" .Params.score "bucket" $bucket "year" $year }}
  {{ $found = $found | append (slice $gameData) }}
{{ end }}

{{ $byPlatformScore := dict }}
{{ range $found }}
  {{ $platformKey := .platform }}
  {{ $scoreKey := printf "%d" (int .bucket) }}

  {{ $prevPlatformScore := (index $byPlatformScore $platformKey ) | default dict }}
  {{ $prevCount := ((index $prevPlatformScore $scoreKey) | default 0) }}

  {{ $newCount := add 1 $prevCount }}

  {{ $newByPlatform := dict $platformKey (dict $scoreKey $newCount) }}
  {{ $byPlatformScore = merge $byPlatformScore $newByPlatform }}
{{ end }}

{{ $platforms := slice }}
{{ range $name, $taxonomy := .Site.Taxonomies.platforms }}
  {{ $platforms = $platforms | append (slice $name) }}
{{ end }}
{{ $scores := seq 6 9 }}

<table>
  <tr>
    <th>Platform/Scores</th>
    {{ range $scores }}
      <th>{{ mul . 10 }}-{{ add (mul . 10) 9 }}</th>
    {{ end }}
  </tr>
  {{ range $i, $platform := $platforms }}
    <tr>
      <th>{{ with $.Site.GetPage (printf "/platforms/%s" $platform) }}<a href="{{.Permalink}}">{{ .Title }}</a>{{ end }}</th>
      {{ range $score := $scores }}
        <td>{{ index ((index $byPlatformScore ($platform)) | default dict) (printf "%d" $score) | default 0 }}</td>
      {{ end }}
    </tr>
  {{ end }}
</table>

<h2>Quality by <a href="{{ with $.Site.GetPage "/series" }}{{ .RelPermalink }}{{ end }}">Series</a></h2>
<table>
{{ $games := where .Site.RegularPages "Section" "g" }}
{{ $found := slice }}
{{ range $games }}
  {{ $params := .Params }}
  {{ $title := .Title }}
  {{ with .Params.series }}
    {{ $series := index . 0 }}
    {{ $bucket := math.Floor (div $params.score 10) }}
    {{ $year := (time $params.releaseDate).Format "2006" }}
    {{ $gameData := dict "series" $series "title" $title "score" $params.score "bucket" $bucket "year" $year }}
    {{ $found = $found | append (slice $gameData) }}
  {{ end }}
{{ end }}

{{ $bySeriesScore := dict }}
{{ range $found }}
  {{ $seriesKey := .series }}
  {{ $scoreKey := printf "%d" (int .bucket) }}

  {{ $prevSeriesScore := (index $bySeriesScore $seriesKey ) | default dict }}
  {{ $prevCount := ((index $prevSeriesScore $scoreKey) | default 0) }}

  {{ $newCount := add 1 $prevCount }}

  {{ $newBySeries := dict $seriesKey (dict $scoreKey $newCount) }}
  {{ $bySeriesScore = merge $bySeriesScore $newBySeries }}
{{ end }}

{{ $series := slice }}
{{ range $name, $taxonomy := .Site.Taxonomies.series }}
  {{ $series = $series | append (slice $name) }}
{{ end }}
{{ $scores := seq 6 9 }}

<table>
  <tr>
    <th>Series/Scores</th>
    {{ range $scores }}
      <th>{{ mul . 10 }}-{{ add (mul . 10) 9 }}</th>
    {{ end }}
  </tr>
  {{ range $i, $s := $series }}
    <tr>
      <th>{{ with $.Site.GetPage (printf "/series/%s" $s) }}<a href="{{.Permalink}}">{{ .Title }}</a>{{ end }}</th>
      {{ range $score := $scores }}
        <td>{{ index ((index $bySeriesScore ($s)) | default dict) (printf "%d" $score) | default 0 }}</td>
      {{ end }}
    </tr>
  {{ end }}
</table>

<h2>Games Rated 90+ by Metacritic - Grouped by Platform</h2>

{{ range $name, $taxonomy := .Site.Taxonomies.platforms }}
  {{ $cnt := .Count }}
  {{ $ninetyPlus := where $taxonomy.Pages "Params.score" ">=" 90 }}
  {{ with $.Site.GetPage (printf "/platforms/%s" $name) }}
    {{ $taxoTitle := .Title }}
    <h2><a href="{{ .RelPermalink }}">{{ $taxoTitle }}</a></h2>
    <table>
      <caption>({{ len $ninetyPlus }}/{{ $cnt }})</caption>
      <tr>
        <th>Title</th>
        <th>Score</th>
        <th>Release Date</th>
      </tr>
      {{ range sort $ninetyPlus ".Params.score" "desc" }}
        <tr>
          <td><a href={{ .RelPermalink }}>{{ .Title }}</a></td>
          <td><a href={{ .RelPermalink }}>{{ .Params.score }}</a></td>
          <td><a href={{ .RelPermalink }}>{{ (time .Params.releaseDate).Format "Jan 2, 2006" }}</a></td>
        </tr>
      {{ end }}
    </table>
  {{end}}
{{end}}

<h2>Game Reviews by Platform</h2>
<table>
  <tr>
    <th>Platform</th>
    <th># Games</th>
  </tr>
{{ range $name, $taxonomy := .Site.Taxonomies.platforms }}
  {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/platforms/%s" $name) }}
  <tr>
    <td><a href={{ .RelPermalink }} title="All titles with platform {{$name}}">{{ .Title }}</a></td>
    <td><a href={{ .RelPermalink }} title="All titles with platform {{$name}}">{{ $cnt }}</a></td>
  </tr>
  {{ end }}
{{ end }}
</table>

<h2>Annual Summary</h2>
<table>
{{ $games := where .Site.RegularPages "Section" "g" }}
{{ $found := slice }}
{{ range $games }}
  {{ $platform := index .Params.platforms 0 }}
  {{ $bucket := math.Floor (div .Params.score 10) }}
  {{ $year := (time .Params.releaseDate).Format "2006" }}
  {{ $gameData := dict "platform" $platform "title" .Title "score" .Params.score "bucket" $bucket "year" $year }}
  {{ $found = $found | append (slice $gameData) }}
{{ end }}

{{ $byYearScore := dict }}
{{ range $found }}
  {{ $yearKey := .year }}
  {{ $scoreKey := printf "%d" (int .bucket) }}

  {{ $prevYearScore := (index $byYearScore $yearKey ) | default dict }}
  {{ $prevCount := ((index $prevYearScore $scoreKey) | default 0) }}

  {{ $newCount := add 1 $prevCount }}

  {{ $newByYearScore := dict $yearKey (dict $scoreKey $newCount) }}
  {{ $byYearScore = merge $byYearScore $newByYearScore }}
{{ end }}

{{ $years := seq 1995 2025 }}
{{ $scores := seq 4 9 }}

<table>
  <tr>
    <th>Year/Scores</th>
    {{ range $scores }}
      <th>{{ mul . 10 }}-{{ add (mul . 10) 9 }}</th>
    {{ end }}
  </tr>
  {{ range $i, $year := $years }}
    <tr>
      <th>{{ printf "%d" $year }}</th>
      {{ range $score := $scores }}
        <td>{{ index ((index $byYearScore (printf "%d" $year)) | default dict) (printf "%d" $score) | default 0 }}</td>
      {{ end }}
    </tr>
  {{ end }}
</table>

<h2>Other Links</h2>

<p><a href="{{ with .Site.GetPage "section" "g" }}{{ .RelPermalink }}{{ end }}">🚚 All Reviews...</a></p>

<p>
  <small>
    <a href="{{ $.Site.Params.github_repo }}">github</a>
  </small>
</p>
{{ end }}
