{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "my-site",
  "url": "https://my.site",
}
</script>
{{ end }}

{{ define "main" }}
<h1>Video Game Ratings</h1>

<p><a href="{{ with .Site.GetPage "section" "g" }}{{ .RelPermalink }}{{ end }}">All Reviews</a></p>

<table>
  <tr>
    <th>Platform</th>
    <th># Titles</th>
  </tr>
{{ range $name, $taxonomy := .Site.Taxonomies.platforms }}
  {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/platforms/%s" $name) }}
  <tr>
    <td><a href={{ .RelPermalink }} title="All titles with platform {{$name}}">{{ $name }}</a></td>
    <td><a href={{ .RelPermalink }} title="All titles with platform {{$name}}">{{ $cnt }}</a></td>
  </tr>
  {{end}}
{{end}}
</table>

<p>
  <small>
    <a href="{{ $.Site.Params.github_repo }}">github</a>
  </small>
</p>
{{ end }}
